{% extends 'base.html' %}

{% block head %}
    Панель адміністратора
{% endblock %}

{% block body %}
    <h1 class="text-center">Панель адміністратора</h1>


    <h1 class="text-center">Новий альбом</h1>

    <form action="{{url_for('admin_page')}}" method="post" class="row g-3 mt-3">
        <div class="contatiner">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="col-12">
                        <label for="inputEmail4" class="form-label">Назва:</label>
                        <input type="text" name="name" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-12">
                        <label for="inputPassword4" class="form-label">Рік:</label>
                        <input type="number" name="year" class="form-control" id="inputPassword4">
                    </div>
                <div class="col-12">
                        <label for="inputPassword4" class="form-label">Основна інформація:</label>
                        <input type="text" name="info" class="form-control" id="inputPassword4">
                    </div>
                <div class="col-12">
                        <label for="inputPassword4" class="form-label">Додаткова інфомація:</label>
                        <input type="text" name="info2" class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary">Опублікувати</button>
                    </div>
                    {% if message %}
                        <h6 style="color: red">{{ message }}</h6>
                    {% endif %}
                </div>
                <div class="col-4"></div>
            </div>
        </div>

    </form>
    <div class="list-group">
        {% for p in post %}
        <a href="/edit-page/{{ p[0] }}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <img class="admin-page-album-img" src="{{ url_for('static',filename = 'img/slider-1.jpg') }}" alt="">
                <h5 class="mb-1">{{ p[1] }}</h5>
                <small class="text-muted">Рік: {{ p[2] }}</small>
            </div>
        </a>
        {% endfor %}
    </div>

{% endblock %}