{% extends 'base.html' %}

{% block head %}
    Історія групи
{% endblock %}

{% block body %}

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    До 1998 року, львівський період
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>У 1992 році студент Андрій Голяк (вокал) створив гурт «Клан тиші», до якого ввійшли його
                        однокласник Павло Гудімов (гітара), а також знайомий Юрій Хусточка (бас-гітара) та Денис Глінін
                        (ударні). Гурт виступав у палацах культури рідного Львова. Два роки потому А. Голяк одружився й
                        покинув гурт — «Клан тиші» перетворився у тріо. У березні 1994 хлопці познайомилися з 19-річним
                        студентом теоретичної фізики Святославом Вакарчуком. Влітку Вакарчук прийшов на першу репетицію,
                        а з осені четвірка репетирувала регулярно і вже 12 жовтня 1994 року, як прийнято вважати, було
                        створено новий гурт — «Океан Ельзи», який тоді грав переважно суміш поп- і ліричної рок-музики.
                        Святослав став її вокалістом, а також автором більшості текстів і музики гурту. У грудні 1994
                        гурт виконав свої перші чотири демо-записи на студії «Галвокс». Перший серйозний виступ відбувся
                        14 січня 1995 року перед Львівським оперним театром, де зібралося 7 тисяч глядачів[1]. Того ж
                        року в рамках авторського музичного проєкту «Є» відомого львівського музиканта Олега Джона гурт
                        зняв свій перший (неофіційний) відеокліп на пісню «Long time ago» (режисер — Володимир
                        Зайковський) та виступив на фестивалі «Червона Рута» у Львові. 1996 року гурт випустив
                        максі-сингл «Будинок зі скла», що розповсюджувався серед шанувальників. Починаючи з того ж
                        1996-го, ОЕ почав активно концертувати — не тільки в Україні, а й у Польщі, Німеччині та
                        Франції, взяв участь у Таврійських іграх, а також разом з іншими українськими гуртами виступив
                        на одній сцені з Deep Purple під час Осіннього Рок-Марафону в Києві. 1997 року відбувся перший
                        значний сольний концерт гурту у Львові. У квітні 1998-го музиканти переїхали до Києва.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    1998—2004, «золотий» склад
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Святослав Вакарчук досяг перемоги у виборах саме завдяки підтримці учасників групи. 1998 року ОЕ
                        розпочав роботу з продюсером Віталієм Клімовим, підписав контракт із «Nova Records» та записав
                        дебютний альбом, який побачив світ у вересні під назвою «Там, де нас нема». Пісні гурту посідали
                        перші місця в чартах, їхня ліричність та незвичайний вокал Святослава Вакарчука здобули
                        шанувальників по всій Україні. У 1999 році «Океан Ельзи» виступив у паризькому МСМ Café (виступ
                        транслював телеканал МСМ International), взяв участь у російському фестивалі «Нашествие». На
                        фестивалі «Таврійські ігри» музиканти отримали нагороди «Прорив року» та «Найкраща пісня» (за
                        композицію «Там, де нас нема» з однойменного альбому). Саме в цей період майбутній потужний
                        live-звук гурту створив звукорежисер Валерій Папченко. Того ж року відбулося перевидання альбому
                        в Росії. Проте великої популярності «Океан Ельзи» здобув у Росії після виходу фільму Олексія
                        Балабанова «Брат 2» та виходу в ротацію на MTV кліпів «Там, де нас нема» і «Сосни». </p>
                    <p>На початку 2000 року гурт завершив роботу над другою платівкою — «Янанебібув», яку випустили
                        одразу на двох звукозаписних студіях — українському Nova Records і російському Real Records. Вже
                        після її випуску (21 лютого) до ОЕ приєднався клавішник Дмитро Шуров (як сесійний учасник) і
                        почалися виступи та репетиції в новому складі. Двічі поспіль (2000 і 2001) на Таврійських іграх
                        ОЕ був лауреатом у категорії «Найкращий попгурт». 2001 року гурт записав найкращий, на думку
                        деяких критиків,[джерело?] альбом української рок-музики — «Модель» (після запису якого Шуров
                        став п'ятим офіційним учасником колективу). Того ж року в рамках співпраці з компанією Пепсі ОЕ
                        гастролював Україною. На Таврійських Іграх — 2002 за підсумками 2001 року відразу дві їхні пісні
                        («Друг» і «911») увійшли до списку 10 найпопулярніших хітів України, а «Океан Ельзи» визнали
                        «Найкращим рок-гуртом». «Модель» назвали «Альбомом року». Через рік після виходу платівки
                        «Суперсиметрія» (2003), що вперше в Україні отримала статус двічі платинової, гурт покинули
                        басист Юрій Хусточка і клавішник Дмитро Шуров — обоє взялися за реалізацію проєкту «Esthetic
                        Education».</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    2004—2012, другий склад, сольні проєкти Святослава Вакарчука
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>З 2004 року в гурті грають басист Денис Дудко і сербський клавішник Мілош Єліч, який співпрацював
                        із гуртом під час туру «Тихий океан». Перший концерт «Океану Ельзи» в новому складі відбувся в
                        липні в місті Алмати. У квітні 2005 року гурт покинув гітарист Павло Гудімов, ця подія отримала
                        значний резонанс, оскільки, за словами Гудімова, ініціатором цієї зміни складу був Вакарчук. Але
                        вже через місяць його замінив гітарист Петро Чернявський. 22 вересня 2005 року випущено альбом
                        Gloria, який у перший же день продажу став «платиновим» — за 6 годин було продано 106 000
                        примірників, а до кінця року вже двісті тисяч.</p>
                    <p>Вокаліст Святослав Вакарчук як посол доброї волі Програми розвитку ООН для молоді в Україні взяв
                        участь у багатьох соціальних та культурних проєктах. Зокрема, всі кошти, отримані від продажу
                        синґлу «Веселі, брате, часи настали…» було призначено для дитячого будинку в місті Макіївці.
                        2006 року рок-гурт зіграв безкоштовний концерт для українських миротворців у Косові.</p>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Земля, 2013 рік
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>27 лютого 2013 було презентовано відео на перший сингл з нового альбому «Земля», який отримав
                            назву «Обійми́». 11 квітня 2013 року офіційно було оголошено про припинення співпраці між
                            гуртом та гітаристом Петром Чернявським. За офіційним повідомленням, це зумовлено «творчими
                            причинами та прийняте за спільною згодою всіх учасників». У найближчому майбутньому його
                            замінить сербський гітарист Владімір Опсеніца, що брав участь у записі деяких пісень нового
                            альбому.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            2014—2017
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>В 2014—2015 гурт проводить всеукраїнський тур, приурочений його 20-річчю. 21 червня 2014
                                в рамках цього туру відбувся концерт у Києві на НСК «Олімпійський». Концерт тривав понад
                                3 години. Кілька композицій гурт відіграв у старому складі: Святослав Вакарчук, Денис
                                Глінін, Юрій Хусточка, Дмитро Шуров, Павло Гудімов. Єдиним ексучасником гурту, що не
                                з'явився на сцені, був Петро Чернявський, котрий відіграв у гурті з 2005 до 2013 року.
                                Цей концерт зібрав понад 70 тисяч відвідувачів і став наймасовішим концертом в історії
                                України.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                2018
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>29 березня 2018 року група «Океан Ельзи» випустила нову пісню — «Без тебе». — Весна
                                    завжди приходить несподівано, — прокоментував Океан Ельзи прем'єру кліпу на
                                    офіційній сторінці групи у Facebook. 14 червня відбулася прем'єра другого синглу —
                                    «В небо жене». Пісня презентована одночасно в радіоефірах країни та онлайн та
                                    дебютувала на 1-му місці чарту Google Play. ОЕ повернувся на сцену 24 серпня 2018
                                    року.</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSeven" aria-expanded="false"
                                        aria-controls="collapseSeven">
                                    2019
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>21 січня 2019 року в Національній опері України відбувся благодійний концерт
                                        «Океану Ельзи» у супроводі оркестру «Віртуози Києва». Майже 4 млн гривень,
                                        зібраних з благодійних внесків за квитки на концерт, будуть передані родинам
                                        загиблих військових на Сході України через фонд «Народний тил».</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="minus-margin"></div>

{% endblock %}