{% extends 'base.html' %}

{% block head %}
    Головна
{% endblock %}

{% block body %}

    {% set slider_photos = ['1.jpg', '2.jpg', '3.jpg'] %}
    <div id="myCarousel" class="carousel">
        {% for el in slider_photos %}
            <div class="carousel__slide">
                <img src="{{ url_for('static',filename = 'img/slider-' + el) }}" alt="">
            </div>
        {% endfor %}
    </div>

    <h1 class="text-center">Океан Ельзи</h1>

    <p>Океа́н Е́льзи (або скорочено — О. Е.) — український рок-гурт, створений 12 жовтня 1994 року у Львові. Лідером та
        вокалістом гурту є Святослав Вакарчук. Публіка та критики неодноразово визнавали «Океан Ельзи» найкращим
        рок-гуртом та найкращим концертним гуртом пострадянських країн та Східної Європи. Усього на території України
        продано понад мільйон дисків ОЕ.</p>

    <h2>Теперішні учасники</h2>
    <ul>
        <li>Святослав Вакарчук — вокал (1994 — до сьогодні)</li>
        <li>Денис Глінін — ударні (1994 — до сьогодні)</li>
        <li>Денис Дудко — бас-гітара (2004 — до сьогодні)</li>
        <li>Милош Єлич — клавішні (2004 — до сьогодні)</li>
        <li>Владімір Опсеніца — гітара (2013 — до сьогодні)</li>
    </ul>
    <h2>Колишні учасники</h2>
    <ul>
        <li>Юрій Хусточка — бас-гітара (1994—2004)</li>
        <li>Дмитро Шуров — клавішні (2001—2004)</li>
        <li>Павло Гудімов — гітара (1994—2005)</li>
        <li>Петро Чернявський — гітара (2005—2013)</li>
    </ul>
    <div class="minus-margin"></div>


    <script>
        const myCarousel = new Carousel(document.querySelector("#myCarousel"), {

        });

    </script>






{% endblock %}